<h1><%= @hike.location %></h1>
<article>
  <%= @hike.description %>
</article>
<section>
  <h2>Profile</h2>
  <dl>
    <dt>Rating</dt>
    <dd><%= @hike.rating %></dd>
    <dt>Difficulty</dt>
    <dd><%= @hike.difficulty %></dd>
  </dl>
</section>
